<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Carservice</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Savedata</display-name>
    <servlet-name>Savedata</servlet-name>
    <servlet-class>user.Savedata</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Savedata</servlet-name>
    <url-pattern>/Savedata</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logindata</display-name>
    <servlet-name>Logindata</servlet-name>
    <servlet-class>user.Logindata</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logindata</servlet-name>
    <url-pattern>/Logindata</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Saveservice</display-name>
    <servlet-name>Saveservice</servlet-name>
    <servlet-class>user.Saveservice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Saveservice</servlet-name>
    <url-pattern>/Saveservice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Updateservice</display-name>
    <servlet-name>Updateservice</servlet-name>
    <servlet-class>user.Updateservice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Updateservice</servlet-name>
    <url-pattern>/Updateservice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deleteservice</display-name>
    <servlet-name>Deleteservice</servlet-name>
    <servlet-class>user.Deleteservice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deleteservice</servlet-name>
    <url-pattern>/Deleteservice</url-pattern>
  </servlet-mapping>
</web-app>